<div id="container">
  <div class="container">
    <div style="text-align:center">
      <h1>
        Google Map Geolocation Demo
      </h1>
      <div class="map-component">
        <google-map class="map-component" [center]="center" [zoom]="200">
          <map-directions-renderer *ngIf="(directionsResults$ | async) as directionsResults"
            [directions]="directionsResults">
          </map-directions-renderer>
        </google-map>
      </div>
      <!-- Google map element -->
    </div>
    <div>
      <div>
        <!-- <button [disabled]="isTracking" class="btn btn-primary" (click)="findMe()">Find me</button> -->
        <!-- <button class="btn btn-primary" (click)="trackMe()">Track me</button> -->
      </div>
      <!-- <div class="text-white">
        <span>Latitude: {{currentLat}}</span>
        <span>Longitude: {{currentLong}}</span>
      </div> -->
      <br>
      <div class="row">
        <div class="col-md-12">
          <div class="text-center">
            <h3>
              <div #gmap style="width:100%;height:300px"></div>
            </h3>
          </div>
        </div>
      </div>
    </div>
    <br>
    <footer>
    </footer>
  </div>

</div>